@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Roboto+Slab:wght@100;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --blue: #0290ff;
  --light-blue: #79a9d2;
  --lighter-grey: #fafafa;
  --light-grey: #f3f4f8;
  --grey: #ecebeb;
  --light-black: #888;
}

body {
  background: var(--light-grey);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#root {
  background: var(--lighter-grey);
  margin: 60px 5%;
  box-shadow: 8px 8px 25px 0 rgba(0, 0, 0, 0.5);
}
